{% extends 'shop/basic.html' %} 
{% block title%} About श्रीधर Entp.{% endblock%}
{% block body%} 
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h2 class="display-3"><strong>SHREEDHAR</strong> Enterprises Pvt. Ltd.</h2>
      <p>
        Welcome to our Eatings haven! Indulge your taste buds in a symphony of flavors with our extensive range of kitchen masalas and delectable eating items. As a proud partner of Katdare Masale, we bring you the finest selection, from essential spices like Chilli, Turmeric, and Coriander to the exquisite blends of Garam Masala, Pav Bhaji Masala, Biryani Masala, and Snacks & more. Our commitment lies in continuous expansion, elevated quality, and an innovative culinary experience. While we proudly showcase Katdare's culinary treasures, our offerings extend beyond, featuring a curated collection of diverse brands and seasonal delights. Elevate your snacking journey with us, where every bite tells a story of spice-infused joy and gastronomic adventure.
      </p>
      <p><a class="btn btn-primary btn-lg" href="/blog" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Founder/Owner Card -->
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-6">
                  <img src="https://png.pngtree.com/png-vector/20230903/ourmid/pngtree-man-avatar-isolated-png-image_9935807.png" class="card-img" alt="Owner Photo 1">
                </div>
                <div class="col-md-6">
                  <img src="https://img.freepik.com/premium-vector/woman-avatar-3d-vector-people-character-illustration-cartoon-minimal-style_365941-802.jpg" class="card-img" alt="Owner Photo 2">
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2 class="card-title">NIRMAL & NIDHI  Shah</h2>
                <p class="card-text">
                  Dynamic duo behind Eatings Haven-SHREEDHAR ENTERPRISE, a pair fueled by passion and a shared commitment to revolutionize the snacking experience. This flavorful journey began with a simple yet powerful mission - to curate a diverse collection of snacks, kitchen spices, sugar-free biscuits, festival eating items, and more.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
     
          
</main>
<footer class="bg-dark text-white"  >
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Contact Us</h3>
        <p>
          <b>Address :</b>
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3670.071965370341!2d72.56431191080475!3d23.09446127903629!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e830835ccbd8f%3A0xdedccb978018507f!2sAshraya%209!5e0!3m2!1sen!2sin!4v1706695145126!5m2!1sen!2sin" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p>
          <span style="font-weight: bold;">Phone:</span>
          <div style="margin-left: 20px;">
            <a href="tel:+919428061937" style="color:  green; text-decoration: underline; font-weight: bold;">+91 9428061937</a>
          </div>
          <div style="margin-left: 20px;">
            <a href="tel:+919558017995" style="color: purple; text-decoration: underline; font-weight: bold;">+91 9558017995</a>
          </div>
        </p>
      </div>
      <div class="col-md-4">
        <h3>Locations</h3>
        <ul style="padding:50px;margin-left:-40px;">
          <li>Franchise Store - Ranip, Ahmedabad</li>
          <li>Brands - Katdare (Pune) & Others </li>
          <!-- Add more locations as needed -->
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Follow Us</h3>
        <p>Stay connected with us on social media:</p>
        <ul>
          <li><a href="https://www.instagram.com/nirmalshah_0123?igsh=MWprdnYxYWdvbnJ5eg==">Instagram</a></li>
          <li><a href="https://www.facebook.com/profile.php?id=61550042910046">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p class="text-center">© 2024 SHREEDHAR ENTERPRISES Pvt Ltd. All rights reserved.</p>
  </div>
</footer>

{% endblock %}